{% extends 'base.html' %}
{% block title %}View Attendance{% endblock %}

{% block content %}
<h2>Attendance for {{ subject.name }}</h2>
<table style="width: 100%; border-collapse: collapse;">
    <tr>
        <th style="padding: 15px; border: 1px solid #ccc;">Roll No</th>
        <th style="padding: 10px; border: 1px solid #ccc;">Name</th>
        <th style="padding: 10px; border: 1px solid #ccc;">Present</th>
        <th style="padding: 10px; border: 1px solid #ccc;">Total</th>
        <th style="padding: 10px; border: 1px solid #ccc;">% Attendance</th>
        <th style="padding: 10px; border: 1px solid #ccc;">Profile</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row.student.roll_number }}</td>
        <td>{{ row.student.name }}</td>
        <td>{{ row.present }}</td>
        <td>{{ row.total }}</td>
        <td>
            {% if row.percentage < 75 %}
                <span style="color: red">{{ row.percentage }}%</span>
            {% else %}
                <span style="color: green">{{ row.percentage }}%</span>
            {% endif %}
        </td>
       <td><a href="{% url 'student_profile' row.student.id %}" class="button">View</a></td>
    </tr>
    {% endfor %}
</table>
<br>
 <a href="{% url 'dashboard' %}" class="button">Back to Dashboard</a>
{% endblock %}
